.h1e::first-letter{
    font-size: 80px;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p::first-line{
    text-decoration: underline;
    color: orange;
}
.h1e::selection{
    background-color: wheat;
    color: cadetblue;
}
input::placeholder{
    color: blue;
}
.h2e::after{
    content: " happy ";
    color: brown;
}
.h2e::before{
    content: "end ";
    color: bisque;
}