.box{
    height: 500px;
    background-color: brown;
    margin-top: 200px;
}
.box-ch{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    top: 30px;
    left: 50px;
}