.h1e{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes myanimation {
    to{
        left: 300px;
        top: 0;
    }
    from{
        left: 0;
        top: 0;
    }
}