body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(22, 22, 22);
}
.h1e{
    height: 350px;
    width: 500px;
    background-color: black;
    
    
    animation-name: task;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    /* box-shadow:0px 0px 10px 4px rgb(180, 50, 124); */
    
    /* animation-direction: alternate-reverse; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.h1e p{
 
    animation-name: task;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow:0px 0px 10px 4px rgb(180, 50, 124);
    /* animation-direction: alternate-reverse; */
    background-color: rgb(20, 19, 19);
    border: 1px solid rgb(30, 29, 29);
    color: white;
    
    border-radius: 20px;
    padding: 30px;
}
@keyframes task{
    0%{
        
        box-shadow: 0px 0px 10px 5px orange;
    }
    10%{
        
        box-shadow: 0px 0px 10px 5px rgb(200, 99, 187);
    }
    20%{
        
        box-shadow: 0px 0px 10px 5px rgb(79, 117, 158);
    }
    30%{
        
        box-shadow: 0px 0px 10px 5px rgb(162, 42, 108);
    }
    40%{
        
        box-shadow: 0px 0px 10px 5px rgb(179, 10, 103);
    }
    100%{
        box-shadow: 0px 0px 10px 5px rgb(138, 22, 153);
    }
}