*{
    margin: 0;
    padding: 0;
}
.h0e{
    background-color: rgb(173, 236, 238);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}
.h0e ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.h1e{
    background-color: rgb(233, 208, 255);
    
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin: 50px;
    box-shadow: 10px 10px 50px 10px rgb(227, 179, 228);
    border-radius: 20px;
    border: 15px solid rgb(214, 170, 206);
    align-items: center;
    line-height: 80px
    

}
.h1e button{
    background-color: lightblue;
    border: 1px solid lightblue;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 10px rgb(171, 202, 212);
}