*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(159, 131, 181);
}
.h0e{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    
    
}
.h0e ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.h1e{
    background-color: rgb(233, 208, 255);
    
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin: 50px;
    box-shadow: 10px 10px 50px 10px rgb(227, 179, 228);
    border-radius: 20px;
    border: 15px solid rgb(240, 203, 234);
    align-items: center;
    line-height: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.h1e button{
    background-color: lightblue;
    border: 1px solid lightblue;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 10px rgb(171, 202, 212);
    
}
.h9e{
    
}
header{
        background-image:url(images/social\ 1.png);
        background-repeat: no repeat;
        background-size: cover;
    }