body{
    background-color: rgb(235, 170, 235);
}
.bye{
    color: rgb(64, 48, 48);
    text-align: center;
font-size: 140px;
text-decoration: underline;
text-decoration: underline;
}
#bye{
    color: rgb(93, 16, 84);
    text-align: center;
font-size: 140px;
text-decoration: underline;
text-decoration: underline;
}